button {
  display: block;
  margin: auto;
}

.nyan-cat {
  transition: 3s;
  position: fixed;
  height: 60px;
}

.nyan-cat-start {
  left:0;
  top:0;
  transition: 3s;
  position: fixed;
}

.nyan-cat-end {
  left:100vw;
  top:100vh;
}
